
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image{
    width: 100vw;
    text-align: center;
    padding: 10% 25% ;
}


.img{
    width: 50vw;
}

.btn{
    width: 50vw;
    background-image: linear-gradient(to right,orange, green);
    font-size: 1.5rem;
    color: white;
    padding: 0.5em 0;
    cursor: pointer;
    border: none;
    border-radius: 0.3em;
}

.btn:hover{
    font-weight: bolder;
}