body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 50px; /* Adjust for the height of the fixed navbar */
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;

    background-color: #333; /* Navbar background color */
    padding: 10px 20px; /* Adjust padding as needed */
    z-index: 1000; /* Ensure navbar stays on top of other content */
}

.navbar-logo {
    color: #fff; /* Logo color */
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-right: auto;
}

.navbar-search {
    margin-right: 20px;
}

.navbar-login {
    background-color: #007bff; /* Login button background color */
    color: #fff; /* Login button text color */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right:50px ;
}

.navbar-login:hover {
    background-color: #0056b3; /* Hover state background color */
}

.content {
    padding: 20px;
}


#searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#input{
    margin-right: 10px;
    padding: 5px;
    width: 300px;
}

button{
    padding: 5px;
    border-radius: 50px;
    width: 100px;
    cursor: pointer;

}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


#stdRecord{

    background-color: rgb(205, 205, 205);
    padding: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: x-large;
    border: 5px solid rgb(231, 231, 231);

}